<style>
        body {
            width: 65%;
            height: auto;
            background: white;
            margin:auto;
            margin-top: 5px;
            padding-bottom: 5px;
        }

        p {
            text-align: center;
            font-size: x-large;
            margin:auto;
    
        }

        header,nav,article,footer {
            border-radius: 3px;
            margin: 5px 5px 5px 5px;
            border: 1px solid gainsboro;
        
        }
        header {
            height: 80px;
            background-color: aquamarine;
        }
        nav {
            height: 45px;
            background-color: blanchedalmond;
        }
        article {
            height: 150px;
            background-color: cornflowerblue;
        }
        footer {
            height: 50px;
            background-color: darkkhaki;
        }

    </style>